SUPABASE_URL=https://dwytqsdrdjedrivtexjo.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_pip7jvNXd0PN-rTs5S2xoA_Y4HO2GJy
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR3eXRxc2RyZGplZHJpdnRleGpvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njg5MTQ2OSwiZXhwIjoyMDkyNDY3NDY5fQ.y5CMPLJFugcfl7cTMd6n7xCmJycGS5VzDv0-4Fa3HYg
